/*----- VARIABLES CSS Y SASS -----*/
// Varibles sass
$header-height: 3rem;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

/*Variables css*/

/*Colores*/
:root {
  --first-color: #1d1d1f;
  --second-color: #0071e3;
  --white-color: #fff;
}

/*Fuente y tipografia*/
:root {
  --body-font: "Roboto", sans-serif;

  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.625rem;
  --normal-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  @media screen and (min-width: 768px) {
    --biggest-font-size: 8rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
